[Unit]
Description=GitHub Actions Runner (warmup-b60.github-runner-az)
After=network.target

[Service]
ExecStart=/github-runner/run.sh
User=github-runner
Environment=PATH=/github-runner/.local/bin:/github-runner/bin:/usr/local/bin:/usr/bin:/usr/local/sbin:/usr/sbin
WorkingDirectory=/github-runner
KillMode=process
KillSignal=SIGTERM
TimeoutStopSec=5min

[Install]
WantedBy=multi-user.target