- name: Disabling default nodejs version
  ansible.builtin.shell: dnf module disable nodejs -y

- name: Enabling nodejs 20 version
  ansible.builtin.shell: dnf module enable nodejs:20 -y

- name: Installing Nodejs 
  ansible.builtin.dnf:  
    name: nodejs
    state: present   

- name: Create app user for {{ component }}
  ansible.builtin.include_role:
    name: common
    tasks_from: create-app-user

- name: Downloading & extracting {{ component }} content
  ansible.builtin.include_role:
    name: common
    tasks_from: download-and-extract

- name: Start service for {{ component }}
  ansible.builtin.include_role:
    name: common
    tasks_from: config-svc 
    